aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
annotated-types==0.7.0
asgiref==3.9.1
attrs==25.3.0
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.5
Django==5.2.4
django-appconf==1.1.0
django-compressor==4.5.1
django-cors-headers==4.7.0
django-libsass==0.9
djangorestframework==3.16.0
fhir.resources==8.1.0
fhir_core==1.1.4
fhirclient==4.3.1
fhirpy==2.0.15
frozenlist==1.7.0
idna==3.10
Jinja2==3.1.6
jinja2_csrf==1.0
libsass==0.23.0
MarkupSafe==3.0.2
multidict==6.6.3
numpy==2.3.2
pandas==2.3.1
pillow==11.3.0
propcache==0.3.2
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
rcssmin==1.1.2
reportlab==4.4.3
requests==2.32.4
rjsmin==1.2.2
six==1.17.0
sqlparse==0.5.3
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
yarl==1.20.1
