{% extends "admin/index.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block bodyclass %}{{ block.super }} admin-dashboard{% endblock %}

{% block content %}
{{ block.super }}

<!-- EU Test Data Management Section -->
<div class="module filtered" id="test-data-management">
    <table>
        <caption>
            <a href="{% url 'patient_data:test_patients' %}" class="section">
                EU Test Data Management
            </a>
        </caption>
        <tbody>
            <tr class="model-row">
                <th scope="row">
                    <a href="{% url 'patient_data:test_patients' %}">
                        Test Patients Dashboard
                    </a>
                </th>
                <td>
                    <a href="{% url 'patient_data:test_patients' %}" class="addlink">
                        View Test Patients
                    </a>
                </td>
            </tr>
            <tr class="model-row">
                <th scope="row">
                    <a href="{% url 'patient_data:test_patients' %}">
                        Test Data Patients
                    </a>
                </th>
                <td>
                    <a href="{% url 'patient_data:test_patients' %}" class="changelink">
                        {% if test_data_count %}
                        {{ test_data_count }} patient{{ test_data_count|pluralize }}
                        {% else %}
                        View patients
                        {% endif %}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
